.content-header{
    background: #F7F7F7;
    padding-bottom: 1em;
}

.content-wrapper{
    background: #FDFDFD;
}

.box.box-default{
    border: 1px solid #EFEFEF !important;
    border-radius: 0px !important;
}

.box-header{
    background: #EFEFEF !important;
    border: 1px #FFF solid;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #FFD694 !important;
    border-color: #F5C14A;
    color: #C57D09 !important;
}

.alert-success{
    background: #A3DCA0 !important;
    border-color: #34BB2D !important;
    color: #006f0d !important;
}

.box-tools .btn{
    margin-top: -2px;
}